/* COLORS */
$color-primary: #fa211a;
$color-secondary: #333;
$color-white: #fff;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*:focus,
*:active{
    outline: none !important;
}

html {
    box-sizing: border-box;
}

/* LINK */
a{
    text-decoration: none !important;
}

/* TITLE */
.title--h1{
    font-size: 54px;
    font-weight: bold;
}
.title--h2{
    font-weight: bold;
    color: $color-secondary;
    text-align: center;
}
.title--h3{
    font-size: 20px;
    margin-top: 10px;
}

.red-line{
    width: 100px;
    height: 2px;
    background-color: $color-primary;
    margin: 60px auto 20px;
}

/* BOUTON */
.btn--main{
    padding: 10px 30px;
    font-weight: 500;
    color: $color-white;
    background-color: $color-primary;
    border-radius: 5px;
    transition: all .4s;

    &:hover{
        color: $color-primary;
        background-color: $color-white;
    }
}


