.coach{
    h2{
        margin-bottom: 40px;
    }

    &__item{
        @extend .col-sm-6;
        @extend .col-md-3;
        text-align: center;

        h3{
            color: $color-primary;
        }
    }
}