.cours{
    p{
        text-align: center;
        font-weight: 200;
        margin-bottom: 40px;
    }

    &__item{
        @extend .col-sm-12;
        @extend .col-md-6;
        @extend .col-lg-4;

        div{
            position: relative;

            a{
                position: absolute;
                bottom: 20px;
                left: 20px;
            }
        }

        &_price{
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            p{
                color: $color-primary;
                font-weight: 400;
            }
        }
    }
}


