.equipement{
    margin-bottom: 100px;
    overflow-x: hidden !important;

    h2{
        margin-bottom: 40px;
    }

    &__item{
        @extend .col-sm-12;
        @extend .col-md-3;
        padding: 0 !important;
        background-color: $color-secondary;

        img{
            height: 300px;
            filter: grayscale(50%);
            -webkit-filter: grayscale (50%);

            &:hover{
                filter: none;
                -webkit-filter: none;
            }
        }

        &--noir{
            background-color: $color-secondary;
            height: 300px;
            padding: 15% 15px 0 15px;

            h3{
                color: $color-primary;
            }

            p{
                color: #efefef;
                font-weight: 100;
                font-size: 13px;
            }
        }
    }

}

@media(max-width:991.9px){
    .equipement{
        img{
            height: 415px;
            min-width: 768px;
        }
    }
}