.footer{
    margin: 60px 0;

    .row{
        justify-content: center;
    }

    &__title{
        font-weight: 700 !important;
    }

    &__item--1, &__item--2{
        padding: 0 50px;
        text-align: center !important;
        p{
            font-weight: 200;
        }
    }

    &__item--1{
        display: flex;
        flex-direction: column;
        justify-content: center;

        a, a:hover{
            color: $color-primary;
        }
    }

    &__numero{
        color: $color-primary;
        font-weight: 500 !important;
    }
}