.heading{
    padding-top: 20px;
    position: relative;

    .row{
        align-items: center;
    }
    
    &__item{
        display: flex;
        justify-content: center;

        img{
            max-height: 25px !important;
            margin-right: 10px;
        }

        p{
            @extend .d-none;
            @extend .d-lg-block;
            color: $color-secondary;
            transition: all .1s;
        }

        &:hover p{
            font-weight: 700;
            border-bottom: 2px solid $color-primary;
        }
    }

    &__brand{
        font-size: 36px;
        font-weight: 700;
    }
}

.navigation{
    @extend .navbar;
    @extend .navbar-expand-lg;
    @extend .navbar-light;
    padding-bottom: 0;
    z-index: 1;

    &__items{
        justify-content: center;
        background-color: $color-primary;

        &--link{
            text-transform: uppercase;
            color: $color-white !important;
        }
    }
}
@media(max-width:991.9px){

    .heading{
        padding-top: 10px;
        &__brand{
            margin: 0;
        }
    }
    .navigation{
        &__items{
            background-color: $color-white;
            border-top: 1px solid rgba($color-secondary, 0.2);

            &--link{
                color: $color-primary !important;
            }
        }
        &__toggle{
            position: absolute;
            top: -45px;
            right: 0;
        }
    }
}
