.intro{
    position: relative;
    height: 85vh;
    background-image: url(../img/main.jpg);
    background-size: cover;
    background-position-y: top;
    background-position-x: left;
    margin-top: -48px;

    &__content{
        position: absolute;
        top: 30%;
        width: 40% !important;
        margin: 0 15% 0 35% !important;
        text-align: right;
        color: $color-white;
    }

    &__text{
        padding-bottom: 25px;
    }
}

@media(max-width:991.9px){
    .intro{
        margin-top: 0px;
    }
}
@media(max-width:767.9px){
    .intro{
        &__content{
            top: 20%;
            width: 60% !important;
            top: 110px !important;
            margin: 0 8% 0 32% !important;
        }
    }
}
@media(max-width:575.9px){
    .intro{
        &__content{
            width: 84% !important;
            margin: 0 8px !important;
        }
    }
}