.planning{
    h2{
        margin-bottom: 40px;
    }
    &__table{
        width: 800px !important;
    }

    .row{
        justify-content: center;
    }

    thead{
        tr{
            th:not:first-child{
                color: gray;
            }
            th{
                vertical-align: middle;
                text-align: center;
                font-weight: 600;
                font-size: 15px;
                text-transform: uppercase;
                background: rgba($color-secondary, .05);
            }
        }
    }
    tbody{
        tr{
            &:hover{
                background: red;
                color: white;
                font-weight: 400 !important;
            }
        }
    }
}

@media(max-width:991.9px){
    .planning__table{
        width: 600px !important;
    }
}
@media(max-width:767.9px){
    .planning__table{
        width: 400px !important;
    }
}
@media(max-width:575.9px){
    .planning{
        display: none;
    }
}