.rejoindre{
    margin-top: 60px;
    background-image: url(../img/r1.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2, p{
        color: $color-white;
    }
}